.container {
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-header {
  padding-left: 30px;
}

.carousel {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 80vh;
  object-position: center;
}

.carousel-item:not(.active) {
  opacity: 0;
}

.cards-container {
  display: grid;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: #f1f1f1;
  min-height: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.section-contact {
  display: grid;
  gap: 40px;
  width: 100%;
  max-width: 1170px;
  padding-top: 40px;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-contact {
  border-radius: 30px;
  background-image: url(../assets/jpg/contact.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
}

@media (max-width: 950px) {
  .cards-container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 700px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-contact {
    display: grid;
    gap: 40px;
    width: 100%;
    /* min-height: 700px; */
    max-width: 1200px;
    padding-top: 40px;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 350px;
  }

  .carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
  }

  .carousel-item img {
    width: 100%;
    height: 350px;
    object-position: center;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .cards-container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
  }
}
